<%= simple_form_for @global_resource do |f| %>
  <% if @global_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@global_resource.errors.count, "error") %> prohibited this global_resource from being saved:</h2>

      <ul>
      <% @global_resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :totalRAM %>
  <%= f.input :totalUsableRAM %>
  <%= f.input :totalDiskSpace %>
  <%= f.input :totalUsableDiskSpace %>
  <%= f.input :totalCPUCores %>
  <%= f.input :totalUsableCPUCores %>
  
  <%= f.button :submit %>
  
<% end %>
