<p id="notice"><%= notice %></p>

<p>
  <strong>Totalram:</strong>
  <%= @global_resource.totalRAM %>
</p>

<p>
  <strong>Totalusableram:</strong>
  <%= @global_resource.totalUsableRAM %>
</p>

<p>
  <strong>Totaldiskspace:</strong>
  <%= @global_resource.totalDiskSpace %>
</p>

<p>
  <strong>Totalusablediskspace:</strong>
  <%= @global_resource.totalUsableDiskSpace %>
</p>

<p>
  <strong>Totalcpucores:</strong>
  <%= @global_resource.totalCPUCores %>
</p>

<p>
  <strong>Totalusablecpucores:</strong>
  <%= @global_resource.totalUsableCPUCores %>
</p>

<%= link_to 'Edit', edit_global_resource_path(@global_resource) %> |
<%= link_to 'Back', global_resource_path %>
