<nav role="navigation">
	<div class="nav-wrapper container">
        
		<ul>  
		    <% if user_signed_in? %>

		    	<li>
		    	<% if current_user.admin? %>	
					<%= link_to 'Dashboard', admin_dashboard_index_path %>
				<% else %>
					<%= link_to 'Dashboard', user_dashboard_index_path %>
				<% end %>
				</li>

			    <li>
					<%= link_to('Edit registration', edit_user_registration_path) %>
				</li>
				<li class="right" >
					<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
				</li>
				
			<% else %>

				<li>
			    	<%= link_to('Home', root_path)  %>  
			    </li>			    
				<li>
					<%= link_to('Register', new_user_registration_path)  %>
				</li>
				<li class="right">
			    	<%= link_to('Login', new_user_session_path)  %>  
				</li>

			<% end %>
		</ul>
	</div>
</nav>