<%= simple_form_for [@user, @virtual_machine, @disk] do |f| %>
  <% if @disk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disk.errors.count, "error") %> prohibited this disk from being saved:</h2>

      <ul>
      <% @disk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :label %>
  <%= f.input :model %>
  <%= f.input :capacity, input_html: { max: @global_resource.totalUsableDiskSpace } %>

  <%= f.button :submit %>

<% end %>
