<%= simple_form_for [:user, @virtual_machine] do |f| %>
  <% if @virtual_machine.errors.any? %>
    <div id="error_explanation">
      <h5><%= t('errors.template.header', :model=> @virtual_machine.model_name.human, :count=> @virtual_machine.errors.count) %></h5>

      <ul>
      <% @virtual_machine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-field col s6">
    <%= f.input :name %>
  </div>

  <%= f.label :state %>
  <div class="input-field col s6">
    <%= f.select :state, options_for_select(VirtualMachine::POSSIBLE_STATES.map { |s| [I18n.t("possible_states.#{s}"), s] }, :selected => @virtual_machine.state), {}, class: 'browser-default grey darken-4' %>
  </div>
  <br>


  <div class="input-field col s6">
    <%= f.input :os %>
  </div>
  <div class="input-field col s6">
    <%= f.input :memory, input_html: { min: '0', max: @ram } %>
  </div>
  <div class="input-field col s6">
    <%= f.input :cores, input_html: { min: '0', max: @cores } %>
  </div>
  <%= f.button :submit %>

<% end %>

<br><br>