<div class="center-align">

<h1><%= t('.virtual_machines') %></h1>

</div>
<div class="row">
<%= search_form_for @search, url: user_virtual_machines_path, :class => "col s12" do |f| %>
  <div class="row">

    <div class="field col s4">
      <%= f.label t('.name_cont') %>
      <%= f.search_field :name_cont %>
    </div>
    <div class="input-field col s4">
      <%= f.submit I18n.t('.search'), :class => 'grey waves-effect waves-light btn' %>
    </div>

  </div>
<% end %>
</div>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@search, :name, I18n.t('.name'), default_order: :desc) %></th>
      <th><%= sort_link(@search, :state, I18n.t('.state'), default_order: :desc) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @virtual_machines.each do |virtual_machine| %>
      <tr>
        <td><%= virtual_machine.name %></td>
        <td><%= I18n.t("possible_states.#{virtual_machine.state}") %></td>
        <td><%= link_to I18n.t('.show'), user_virtual_machine_path(virtual_machine) %></td>
        <td><%= link_to I18n.t('.edit'), edit_user_virtual_machine_path(virtual_machine) %></td>
        <td><%= link_to I18n.t('.destroy'), user_virtual_machine_path(virtual_machine), method: :delete, data: { confirm: I18n.t('.are_you_sure')  } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<div class="center-align">

<%= paginate @virtual_machines %>

<br>

<%= link_to t('.new_virtual_machine'), new_user_virtual_machine_path, :class => 'waves-effect waves-light btn' %>

</div>
<br><br>

<%= link_to I18n.t('.back'), admin_dashboard_index_path %>

<br><br>