<div class="center-align">
  <h3><%= t('.virtual_machine')%></h3>
  <p>
    <strong><%= t('.name')%></strong>
    <%= @virtual_machine.name %>
  </p>
  <p>
    <strong><%= t('.state')%></strong>
    <%= @virtual_machine.state %>
  </p>
  <p>
    <strong><%= t('.os')%></strong>
    <%= @virtual_machine.os %>
  </p>
  <p>
    <strong><%= t('.memory')%></strong>
    <%= @virtual_machine.memory %>
  </p>
  <p>
    <strong><%= t('.cores')%></strong>
    <%= @virtual_machine.cores %>
  </p>

  <%= link_to t('.edit'), edit_user_virtual_machine_path(@virtual_machine), :class => 'waves-effect waves-light btn' %>

  <h2><%= t('.disks')%></h2>

  <table class="table">
    <tr>
      <th><%= t('.label')%></th>
      <th><%= t('.model')%></th>
      <th><%= t('.capacity')%></th>
      <th></th>
      <th></th>
    </tr>
    <% @virtual_machine.disks.each do |disk| %>
        <tr>
          <td><%= disk.label %></td>
          <td><%= disk.model %></td>
          <td><%= disk.capacity %></td>

          <td><%= link_to 'Show', user_virtual_machine_disk_path(@virtual_machine, disk) %></td>
          <td><%= link_to 'Edit', edit_user_virtual_machine_disk_path(@virtual_machine, disk) %></td>
          <td><%= link_to 'Destroy', user_virtual_machine_disk_path(@virtual_machine, disk),
                  method: :delete,
                  data: { confirm: t('.are_you_sure') } %></td>
        </tr>
      <% end %>
    </table>

  <br>


  <br><br>

    <%= link_to t('.add_new_disk'), new_user_virtual_machine_disk_path(@virtual_machine), :class => 'waves-effect waves-light btn' %>

</div>

<br><br>

<%= link_to t('.back'), user_virtual_machines_path %>

<br><br>


