<%= simple_form_for @global_resource , :url => admin_global_resource_path do |f| %>
  <% if @global_resource.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@global_resource.errors.count, "error") %> prohibited this global_resource from being saved:</h3>

      <ul>
      <% @global_resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="input-field col s6">
    <%= f.input :totalRAM, input_html: { min: '0' } %>
  </div>
  <div class="input-field col s6">
    <%= f.input :totalDiskSpace, input_html: { min: '0' } %>
  </div>
  <div class="input-field col s6">
    <%= f.input :totalCPUCores, input_html: { min: '0' } %>
  </div>

  <%= f.button :submit %>
  
<% end %>
