<div class="center-align">

  <h3><%= t('.global_resource')%></h3>

  <p>
    <strong><%= t('.total_ram')%></strong>
    <%= @global_resource.totalRAM %>
  </p>


  <p>
    <strong><%= t('.total_disk_space')%></strong>
    <%= @global_resource.totalDiskSpace %>
  </p>

  <p>
    <strong><%= t('.total_cpu')%></strong>
    <%= @global_resource.totalCPUCores %>
  </p>

  ---------------------------------------

  <p>
    <strong><%= t('.free_ram')%></strong>
    <%= @global_resource.freeRAM %>
  </p>
  <p>
    <strong><%= t('.free_disk_space')%></strong>
    <%= @global_resource.freeDiskSpace %>
  </p>
  <p>
    <strong><%= t('.free_cores')%></strong>
    <%= @global_resource.freeCPUCores %>
  </p>

  <br>

  <%= link_to t('.edit_global_resource'), edit_admin_global_resource_path, :class => 'waves-effect waves-light btn' %>
</div>

<br><br>

<%= link_to I18n.t('.back'), admin_dashboard_index_path %>

<br><br>