<%= simple_form_for [@user, @virtual_machine] do |f| %>
  <% if @virtual_machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@virtual_machine.errors.count, "error") %> prohibited this virtual_machine from being saved:</h2>

      <ul>
      <% @virtual_machine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :state %>
  <%= f.input :os %>
  <%= f.input :memory, input_html: { max: @global_resource.totalUsableRAM } %>
  <%= f.input :cores, input_html: { max: @global_resource.totalUsableCPUCores } %>

  <%= f.button :submit %>

<% end %>