<%= simple_form_for [:user, @virtual_machine, @disk] do |f| %>
  <% if @disk.errors.any? %>
    <div id="error_explanation">
      <h5><%= t('errors.template.header', :model=> @disk.model_name.human, :count=> @disk.errors.count) %></h5>

      <ul>
      <% @disk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s6">
    <%= f.input :label %>
  </div>

  <%= f.label :model %>

    <%= f.select :model, options_for_select(['SSD', 'HDD'], :selected => @disk.model), {}, class: 'browser-default grey darken-4' %>

  <br>

  <div class="input-field col s6">
    <%= f.input :capacity, input_html: { min: '0', max: @space } %>
  </div>
  <%= f.button :submit %>

<% end %>
