<%= simple_form_for [:user, @virtual_machine, @disk] do |f| %>
  <% if @disk.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@disk.errors.count, "error") %> prohibited this disk from being saved:</h3>

      <ul>
      <% @disk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s6">
    <%= f.input :label %>
  </div>
  <div class="input-field col s6">
    <%= f.input :model %>
  </div>
  <div class="input-field col s6">
    <%= f.input :capacity, input_html: { min: '0', max: @space } %>
  </div>
  <%= f.button :submit %>

<% end %>
