<div class="center-align">
  <h2><%= t('.disk')%></h2>
  <p>
    <strong><%=t('.label')%></strong>
    <%= @disk.label %>
  </p>
  <p>
    <strong><%=t('.model')%></strong>
    <%= @disk.model %>
  </p>
  <p>
    <strong><%=t('.capacity')%></strong>
    <%= @disk.capacity %>
  </p>


  <%= link_to I18n.t('.edit'), edit_user_virtual_machine_disk_path(@virtual_machine, @disk), :class => 'waves-effect waves-light btn' %>

  <br><br>

</div>
<%= link_to I18n.t('.back'), user_virtual_machine_path(@virtual_machine) %>
