<div class="center-align">
  <h2><%= t('.disk')%></h2>
  <p>
    <strong><%=t('.label')%></strong>
    <%= @disk.label %>
  </p>
  <p>
    <strong><%=t('.model')%></strong>
    <%= @disk.model %>
  </p>
  <p>
    <strong><%=t('.capacity')%></strong>
    <%= @disk.capacity %>
  </p>

  <br><br>
</div>
<%= link_to I18n.t('.back'), admin_virtual_machine_path(@virtual_machine) %>
